html {
  zoom: 85%;
}

/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

#myBtn {
  cursor: pointer;
}

.btn1 mt-4 {
  cursor: pointer;
  transition: all 200ms linear;
}

a:hover {
  text-decoration: none;
}

.btn1 {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2);
}

#myBtnH {
  cursor: pointer;
}

.btn1:hover {
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
}


.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  width: 320px;
}

.title1 {
  color: #eee;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  margin-top: 30px;
  padding: 0;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

/*alredy css format ! ^*/

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut-short {
  width: 50px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
  color: #808097;
}

.input:focus~.placeholder {
  color: #dbbac1;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.btn1 mt-4 {
  cursor: pointer;
  transition: all 200ms linear;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.btn1 {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;

  align-items: center;

  text-align: center;

  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2);
}



.btn1:hover {
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
}

.form {
  width: 100%;
  height: 100%;
}

.btn1 {
  position: relative;
  top: 20px;
  left: -8vh;
}

@keyframes load1 {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes load1 {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

@keyframes load {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("font/Poppins-Regular.ttf");
}

/**/
:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --bggray: #E8E8E8;
}

body {
  color: #4285F4;
  --nav-link-load-time: 500ms;
  --article-load-delay: var(--nav-link-load-time);
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(30deg, #D8D8D9, #E8E8E8);
}

.section {
  color: #000;
}

#testtab {
  animation: a 1s;
}

@keyframes a {
  0% {
    opacity: 0;
    transform: translateY(50vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container {
  position: relative;
  width: 100%;
}

/*Partie 2: Louay */
/* =============== Navigation ================ */
.navigation {
  background-image: linear-gradient(30deg, #b31412, #1a5bbc);
  position: fixed;
  width: 300px;
  height: 100%;
  z-index: 0;
  transition: 0.5s;
  overflow: hidden;
}

.active1 {
  width: 70px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-image: linear-gradient(30deg, #D8D8D9, #E8E8E8);
}

.clicked {
  background-image: linear-gradient(30deg, #D8D8D9, #E8E8E8);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}


/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 25%;
  box-shadow: 35px 35px 0 10px #E8E8E8;
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  box-shadow: 35px -35px 0 10px #E8E8E8;
  border-radius: 25%;
  pointer-events: none;
}

/**/
.main {
  background-image: linear-gradient(30deg, #D8D8D9, #E8E8E8);

  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  transition: 0.5s;
}

.main.active1 {
  width: calc(100% - 80px);
  left: 69px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}


.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .card1 {
  position: relative;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-image: linear-gradient(30deg, #ececec, #E8E8E8);
  box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
  transition: all 0.75s;
  border-radius: 5px;
  border-top: 4px solid #4285f4;
}

/*Louay partie 3*/
.cardBox .card1 .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);
}

.cardBox .card1 .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card1 .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}

.cardBox .card1:hover {
  transition: all 0.75s;
  border-top: 0px;
  transform: translateY(-20px);
  border-bottom: 4px solid #287bff;
  ;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}


.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;


}

.details .recentOrders {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-image: linear-gradient(30deg, #ececec, #E8E8E8);
  border-radius: 5px;
  border-top: 4px solid #ea4335;
  margin-right: 2%;
}

/*louay partie 3*/
.details .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardHeader h2 {
  font-weight: 600;
  color: var(--blue);
}

.cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details table thead td {
  font-weight: 600;
}

.details .recentOrders table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentOrders table tr:last-child {
  border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
  background: var(--blue);
  color: var(--white);
}

.details .recentOrders table tr td {
  padding: 10px;
}

.details .recentOrders table tr td:last-child {
  text-align: end;
}

.details .recentOrders table tr td:nth-child(2) {
  text-align: end;
}

.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}

.staOK {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.staOK:hover {
  opacity: 0.6;
}

.status.pending {
  padding: 2px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.return {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.inProgress {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

/*louay */
.recentCustomers {
  position: relative;
  width: 25%;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  padding: 20px;
  background: var(--white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-image: linear-gradient(30deg, #ececec, #E8E8E8);
  border-radius: 5px;
  border-top: 4px solid #fbbc04;
}


.recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}

.recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recentCustomers table tr td {
  padding: 12px 10px;
  word-wrap: break-word;
}

.recentCustomers table tbody tr td {
  word-wrap: break-word;
}

.recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}

.recentCustomers table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}

.recentCustomers table tr:hover {
  background: var(--blue);
  color: var(--white);
}

.recentCustomers table tr:hover td h4 span {
  color: var(--white);
}

.section2 {
  background-image: linear-gradient(30deg, #D8D8D9, #E8E8E8);
  overflow-y: scroll;
  scroll-behavior: auto;
  position: relative;
  width: 25%;
  top: 25px;
  display: grid;
  height: 300px;
  min-height: 500px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  border-top: 4px solid #287bff;
  font-size: 19px;
  margin-bottom: 20px;
}

/*end louay 3*/
/*yassin*/
.section2 div {
  padding: 10px;
}

/* ====================== Responsive Design ========================== */
@media (max-width: 1024px) {
  .responsive form table td {
    width: 200px;
  }
}

@media (max-width: 991px) {
  .navigation {
    left: -300px;
    animation: load1 300ms ease-out var(--article-load-delay);
    animation-fill-mode: forwards;
    transform: translateX(-30px);
    transition: all 0.2s;
    opacity: 0;
  }

  .navigation.active1
   {
    width: 300px;
    left: 0;
  }

  .main {
    width: 100%;
    /*height: 200%;*/
    left: 0;
  }

  .main.active1 {
    left: 300px;
  }

  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  a {
    color: red;
  }
}




#testHelp {
  display: none;
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }

  .recentOrders {
    overflow-x: auto;
  }

  .status.inProgress {
    white-space: nowrap;
  }
}

@media(max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }

  .cardHeader h2 {
    font-size: 20px;
  }

  .user {
    min-width: 40px;
  }

  /*######################################################################*/
  .navigation {
    width: 100%;
    left: -100%;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px;
    left: 0;
  }

  .toggle {
    z-index: 10001;
  }

  .main.active1 .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}

h2+h1 {
  color: #287bff;
  ;
  font-size: medium;
  position: relative;
  top: 40%;

}

#sign {
  position: absolute;
  top: 140%;
}

/* Modal */
.modal,
.modalH {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: flex-start;
  /* or center */
  z-index: 1000;
  /* depending on what z-index values exist in your page, in order for the modal layer to sit on top of other content */
  overflow: auto;
  /* enable scrolling if needed - although this is not really necessary since we are going take care of overflow in modal-content */
  background-color: rgba(0, 0, 0, 0.8);
}

@media(max-width:480px) {}

.modal.modal-show,
.modalH.modal-show {
  animation: fadeIn 0.1s ease-in-out forwards;
}

.modal.modal-hide,
.modalH.modal-hide {
  animation: fadeOut 0.1s ease-in-out 0.1s forwards;
}

.modal-content,
.modalH-content {
  position: relative;
  background-color: #fff;
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.25rem;
  max-height: 75%;
  overflow: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.modal.modal-show .modal-content,
.modalH.modalH-show .modalH-content {
  animation: fadeInDown 0.3s ease-in-out forwards;
}

/*end of yassine*/

.modal.modal-hide .modal-content,
.modalH.modalH-hide .modalH-content {
  animation: fadeOutUp 0.2s ease-in-out forwards;
}

/*yassine*/
.modal-content h1,
.modalH-content h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.modal-content p,
.modalH-content {
  margin: 1rem 0;
  line-height: 1.5rem;
}

.modal-close,
.modalH-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.75rem;
  font-weight: bold;
  padding: 0 0.75rem;
  /* width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; */
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
}

.modal-close:hover,
.modal-close:focus {
  color: rgba(0, 0, 0, 0.5);
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-3rem);
  }
}

@media(max-width: 992px) {
  html {
    font-size: 14px;
  }

  .modal-content {
    width: 80%;
  }
}

@media(max-width:767px) {
  html {
    font-size: 12px;
  }



  .modal-content {
    padding: 2rem 1rem 1rem 1rem;
    width: 90%;
  }

  .circle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }

  .modal-content h1 {
    margin-bottom: 1.5rem;
  }
}

@media(max-width:400px) {
  html {
    font-size: 12px;
  }

  #ci1h {
    animation: none;
    ;
  }

  .modal-content {
    padding: 2rem 1rem 1rem 1rem;
    width: 40%;
  }

  .modal-content h1 {
    margin-bottom: 1.5rem;
  }
}


#tasks {
  aspect-ratio: 4/2;
  width: 50px;
  height: 50px;

}

#smile {
  position: relative;
  top: 4px;
  left: 2px;
}

.ti h2 {
  opacity: 0.5;
  cursor: pointer;
}

/*louay */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.45s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

html {
  scroll-behavior: smooth;
}

.yesno,
.yesno1 {
  padding: 10px;
  font-size: 15px;
  border-radius: 10%;
  background-color: var(--blue);
  color: #fff;
  cursor: pointer;
  width: 70px;
  margin: 5px;
}

.yesno:hover,
.yesno1:hover {
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  opacity: 0.5;
}

.modal-content {
  border-radius: 15px;
}

.x {
  position: relative;
  left: 60%;
  top: -235px;
  cursor: pointer;
}

#tm {
  text-align: center;
  position: relative;
}

.section {
  background-image: linear-gradient(30deg, #D8D8D9, #E8E8E8);
  width: 70%;
  position: relative;
  top: 25px;
  display: grid;
  min-height: 500px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  border-top: 4px solid #287bff;
  margin-right: 2%;
  margin-bottom: 20px;
}

.recentCustomers .cardHeader table tr td a,
a:visited,
a:hover {
  text-decoration: none;
  color: black;
}

/* The Modal (background) */
/*end of louay*/
/* Modal Content */
.modal-content {
  position: absolute;
  top: 18vh;
  left: 20%;
  background-color: #fefefe;
  width: 50%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

@media(max-width:480px) {
  .modal-content {
    position: absolute;
    top: 18vh;
    left: 20%;
    background-color: #fefefe;
    width: 60%;
    height: 40%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
}

/* The Close Button */
.close,
.close1 {
  color: rgb(84, 42, 222);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.close1:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.modal-content {
  background-color: #15172b;
}

.modal-body_new {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 18vh;
    opacity: 1
  }
}

@keyframes slideIn {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 18vh;
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.input-container {
  display: flex;
  position: relative;
}

.eyepassword {
  color: white;
  position: relative;
  padding-left: 10px;
  transform: translateY(15px);
  cursor: pointer;
  font-size: 30px;
}





input {
  width: 80%;
}

.modal-body_new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 7%;

}

.hovered {
  background-image: linear-gradient(30deg, #D8D8D9, #E8E8E8);
}

.modal-content {
  overflow-x: hidden;
}

.form img {
  position: relative;
  left: -7%;
  transform: translateX(-10px);
}

.verif,
#v1 {
  color: white;
  position: relative;
  top: 13px;
  left: 10px;
  display: flex;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.close:hover,
.close1:hover {
  color: white;
  transform: rotateX('90');
}

#icong {
  position: relative;
  left: -10%;
  top: -50px;
  transition: all 1s;
  cursor: pointer;
}

#icong:hover {
  transition: all 1s;
  transform: scale(1.5);
  cursor: pointer;
}

.title1 {
  transition: all 1s;
}

.title1:hover {
  color: #ffeba7;
  transition: all 1s;
  transform: translateY(-10px);
  cursor: pointer;
}

.annimationlogo {
  animation: testt 5s;
}

@keyframes tesst {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

#c1 {
  animation: movee 3s infinite;
}

#c1:hover {
  animation: none;
  animation-delay: 0.5s;
}

#cat {
  animation: moveeC 3s infinite;
  position: relative;
  top: -3vh
}

@keyframes moveeC {
  25% {
    opacity: 0;

    transition: all 1s;
  }

  100% {
    opacity: 1;

    transition: all 1s
  }

}

@keyframes movee {
  25% {
    opacity: 0.5;
    transform: translateX(200px);
    transition: all 1s;
  }

  50% {
    opacity: 1;
    transform:
      translateX(300px);
    transition: all 1s
  }

  100% {
    transition: all 1s;
    opacity: 1;
    transform: translateX(0px);
  }
}

#a {
  animation-delay: 1s;
  color: #303245;
}

/*navigation icon*/
#iconB {
  position: relative;
  top: 5px;
  cursor: none;
  opacity: 0.9;
}

/*animation of circles in the modal help !*/
#ci1 {
  animation: moveei1 3s infinite;
  position: relative;
  top: 0px;
  left: -15%
}

#c1:hover {
  animation: none;
  animation-delay: 0.5s;
}

@keyframes moveei1 {
  0% {
    opacity: 0;
    position: relative;
    top: 0px;
    left: -15%;
  }

  25% {
    opacity: 0.5;
    transform: translateY(200px);
    transition: all 1s;
  }

  50% {
    opacity: 1;
    transform:
      translateY(300px);
    transition: all 1s
  }

  100% {
    transition: all 1s;
    opacity: 1;
    transform: translateY(0px);
  }
}

#ci2 {
  animation: moveei2 3s infinite;
}

#c1:hover {
  animation: none;
  animation-delay: 0.5s;
}

@keyframes moveei2 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.5;
    transform: translateY(-200px);
    transition: all 1s;
  }

  50% {
    opacity: 1;
    transform:
      translateY(-300px);
    transition: all 1s
  }

  100% {
    transition: all 1s;
    opacity: 1;
    transform: translateY(0px);
  }
}

.inavlidP {
  color: red;
}

.inavlidP p,
#pa1,
#pa2,
#pa3 {
  font-size: 17px;
  animation: p 1.5s;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#pa2 {
  position: absolute;
  left: 7vh;
  top: 40vh;
  color: red;
}

#pa3 {
  color: red;
  position: absolute;
  top: 43vh;

  left: 7vh;
}

#pa1 {
  position: absolute;
  color: red;
  top: 28vh;
  left: 7vh;
}

/*louay*/
@keyframes p {
  0% {
    opacity: 0;
    transition: all 1s;
    transform: translateX(100px);
  }

  25% {
    opacity: 0.3;
    transition: all 1s;
    transform: translateX(-75px);
  }

  50% {
    opacity: 0.6;
    transition: all 1s;
    transform: translateX(-50px);
  }

  75% {
    opacity: 0.9;
    transition: all 1s;
    transform: translateX(-25px);
  }

  100% {
    opacity: 1;
    transition: all 1s;
    transform: translateX(0px);
  }
}

.c1stop {
  animation: none;
}

.modal1 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

:root {
  --modal-duration: 0.8s;

}

.modal-content1 {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal1 {
  overflow-x: hidden;
}

.modal-content1 {
  position: relative;
  top: -3%;
}

.t {
  font-weight: bold;
  text-align: center;
  transition: all 1s;
  border-top: 0px solid gray;
  border-left: 0px solid gray;
  border-bottom: 1px solid rgb(155, 154, 154);
  border-right: 1px solid rgb(155, 154, 154);
  background: rgb(25, 31, 50);
  width: 30em;
  height: 4em;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
}

.t:hover {
  transition: all 1s;
  color: rgb(25, 31, 50);

  background: white;
}

/*louay*/
.modal-header {
  background: var(--modal-color);
  padding: 15px;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-body1 {
  padding: 10px 20px;
  background: #fff;
}

.modal-footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close1 {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.modal-content {
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.8s;
  animation-name: slideIn;
  animation-duration: 0..8ss
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-300px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.modal1 {
  overflow-y: hidden;
}

.modal-content1 {
  border-radius: 10px;
}

.modal-content1,
.modal-body1,
.modal-header,
.modal-footer {
  background: #1b1d37;
  color: white;


}

.modal-body1 {
  position: absolute;

  width: 100%;
}

#s1 {
  position: relative;
  left: 2vh;
}

.titleHelp {
  transition: all 1s;
  cursor: pointer;
  position: absolute;
  left: 35%;
}

@media(max-width:767px) {
  .titleHelp {
    transition: all 1s;
    cursor: pointer;
    position: absolute;
    left: 30%;
  }
}

@media(max-width:480px) {
  .titleHelp {
    transition: all 1s;
    cursor: pointer;
    position: absolute;
    left: 27%;
  }
}

@media(max-width:300px) {
  .titleHelp {
    transition: all 1s;
    cursor: pointer;
    position: absolute;
    left: 23%;
  }
}

.titleHelp:hover {
  color: #ffeba7;
  transition: all 1s;
  transform: scale(1.3);
}

#definitionH {
  font-size: 25px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#iconh {
  transition: all 1s;
  cursor: pointer;
}

#iconh:hover {
  transition: all 1s;
  transform: scale(1.5);
  cursor: pointer;
}

#ci1h {
  animation: moveeih1 3s infinite;
  position: relative;
  top: 0px;
  left: -15%;
}

@keyframes moveeih1 {
  0% {
    top: 0px;
  }

  50% {
    top: 20px;
  }

  100% {
    top: 0px;
  }
}


#c1:hover {
  animation: none;
  animation-delay: 0.5s;
}

@keyframes moveeih1 {
  0% {
    opacity: 0;
    transform: translate(100%);

  }

  25% {
    opacity: 0.5;
    transform: translateX(75%);
    transition: all 1s;
  }

  50% {
    opacity: 1;
    transform:
      translateX(50%);
    transition: all 1s
  }

  75% {
    opacity: 0.5;
    transform:
      translateX(25%);
    transition: all 1s
  }

  100% {
    transition: all 1s;
    opacity: 1;
    transform: translateX(0%);
  }
}




.close1 {
  position: absolute;
  right: 1vh;
  top: -5px;
}



@media (max-width: 900px) {

  .main {
    width: 100%;
  }

  #SN {
    width: 50vh;
    height: 30px;
    background-color: #303245;
    color: white;
    font-size: small;
    transition: all 1s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  #SN:hover {
    transition: all 1s;
    transform: scale(1.3);
  }
}

/*style select name Score Card*/
#SN {
  text-align: center;
  width: 170%;
  height: 30px;
  background-color: #303245;
  color: white;
  font-size: large;
  transition: all 1s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#SN:hover {
  transition: all 1s;
  transform: scale(1.2);
}

@media (max-width: 300px) {

  .main {
    width: 100%;
  }

  #SN {
    width: 10%;
    height: 30px;
    background-color: #303245;
    color: white;
    font-size: medium;
    transition: all 1s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  #SN:hover {
    transition: all 1s;
    transform: scale(1.3);
  }
}

#testtt option {
  font-size: 1.5em;
  text-align: center;
  background: #102770;

}

#testtt {
  transition: all 1s;
  font-size: 1.01em;
}

#testtt:hover {
  transition: all 1s;
  transform: scale(1.1);
}

.label {
  transition: all 1s;
}

.label:hover {
  color: wheat;
  transition: all 1s;
  transform: scale(1.2);
  cursor: pointer;
}

.section2 .a {

  transition: all 1s;
  text-align: center;
}

.section2 a :hover {
  color: white;
}

.section2 .a:hover {
  color: white;
  background: #287bff;
  transition: all 1s;


}

.a a {
  width: 100%;
  transition: all 1s;

}

.a a:hover {
  color: white;
  transition: all 1s;

}


/*Delete and Modify member card*/
.buttonD {
  background: #206ae1;
  transition: ease-out 0.5s;
  color: white;
  font-weight: 500;
  cursor: pointer;
  width: 90px;
  height: 50px;
  border: 1px solid #206ae1;
  position: relative;
  border-radius: 5px;
}

.del-mod-1 {
  position: absolute;
  top: 0px;
  left: 80%;
}

.del-mod-2 {
  position: absolute;
  top: 0px;
  left: 1%;
}

@media(max-width:1024px) {
  .del-mod-1 {
    position: absolute;
    top: 0px;
    left: 70%;
  }

  .del-mod-2 {
    position: absolute;
    top: 0px;
    left: 2%;
  }
}

@media(max-width:480px) {
  .del-mod-1 {
    position: absolute;
    top: 0px;
    left: 65%;
  }

  .del-mod-2 {
    position: absolute;
    top: 0px;
    left: 3%;
  }
}

@media(max-width:400px) {
  .del-mod-1 {
    position: absolute;
    top: 0px;
    left: 59%;
  }

  .del-mod-2 {
    position: absolute;
    top: 0px;
    left: 5%;
  }
}

@media(max-width:363px) {
  .del-mod-1 {
    position: absolute;
    top: 0px;
    left: 50%;
  }

  .del-mod-2 {
    position: absolute;
    top: 0px;
    left: 5%;
  }
}

.buttonD:hover {
  background: white;
  transition: ease-out 0.5s;
  cursor: pointer;
  width: 90px;
  height: 50px;
  border: 1px solid white;
  color: #0748b0;
}

#testtab tr {
  position: relative;
  top: -15%;
  margin: 15px;
}

@media screen and (max-width: 850px) {

  .section,
  .section2,
  .recentCustomers,
  .recentOrders {
    width: 80%;
    margin-bottom: 20px;
  }

  .details {
    align-items: center;
    justify-content: center;
  }
}

.changeContrib {
  position: absolute;
  z-index: 5;
  background-color: #15172b;
  padding: 10px;
  width: 50vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%) rotateY(90deg);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.changeContrib input {
  margin-bottom: 40px;
  border: none;
  height: 50px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 18px;
}

.changeContrib h2 {
  margin-bottom: 40px;
}

.changeContrib input:focus {
  outline: none;
}

.changeContrib button {
  width: 80px;
  height: 40px;
  border: 1px solid #0087ca;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  color: #0087ca;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.changeContrib button:hover {
  background-color: #0087ca;
  color: white;
}

.modal_btn {
  background-color: #1a5bbc;
  border: 1px solid #1a5bbc;
  color: white;
  border-radius: 5px;
  margin-top: 15%;
  padding: 5px;
  width: 80%;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  align-self: flex-end;
  margin-bottom: 3%;
  cursor: pointer;
}

.modala {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.75s;
}

.modal-contenta {
  transition: all 0.75s;
  border-radius: 5px;
  /*background-image:url('assets/imgs/test4.png');*/
  background-color: rgb(25, 31, 50);
  color: white;
  position: relative;
  bottom: 10%;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  /* Could be more or less, depending on screen size */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media(max-width: 480px) {
  .modal-contenta {
    transition: all 0.75s;
    border-radius: 5px;
    /*background-image:url('assets/imgs/test4.png');*/
    background-color: rgb(25, 31, 50);
    color: white;
    position: relative;
    bottom: 10%;
    top: 10%;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;

    width: 60%;
    /* Could be more or less, depending on screen size */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

@media(max-width: 600px) {
  .modal-contenta {
    transition: all 0.75s;
    border-radius: 5px;
    /*background-image:url('assets/imgs/test4.png');*/
    background-color: rgb(25, 31, 50);
    color: white;
    position: relative;
    bottom: 10%;
    width: 25%;
    top: -6%;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;

    width: 60%;
    /* Could be more or less, depending on screen size */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.modalc {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.75s;
}

.modal-contentc {
  transition: all 0.75s;
  border-radius: 5px;
  /*background-image:url('assets/imgs/test4.png');*/
  background-color: rgb(25, 31, 50);
  color: white;
  position: relative;
  top: -10%;
  bottom: 10%;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  /* Could be more or less, depending on screen size */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media(max-width: 480px) {
  .modal-contentc {

    transition: all 0.75s;
    border-radius: 5px;
    /*background-image:url('assets/imgs/test4.png');*/
    background-color: rgb(25, 31, 50);
    color: white;
    position: relative;
    bottom: 10%;
    top: 10%;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;

    width: 60%;
    /* Could be more or less, depending on screen size */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.scroll {
  scroll-behavior: smooth;
}

button {
  width: 50%;
  align-self: center;
  margin: 5%;
}

.modal-contenta form {
  display: flex;
  flex-direction: column;
}

.modal-contenta form table tr td label {
  display: flex;
  justify-content: flex-start;
}

.modal-contenta form table tr td {
  padding: 5%;
  width: 35%;
}

.modal-content2 {
  color: white;
  transition: all 0.75s;
  border-radius: 5px;
  background-color: rgb(25, 31, 50);


  position: relative;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  height: 20%;
  width: 25%;
  /* Could be more or less, depending on screen size */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.close2 {
  align-self: flex-end;
}

.delete_card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.75s;
}

@media screen and (max-width:600px) {
  .modal-content2 {
    transition: all 0.75s;
    border-radius: 5px;
    background-color: rgb(25, 31, 50);
    position: relative;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 23%;
    width: 25%;
    /* Could be more or less, depending on screen size */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

@media screen and (max-width:363px) {
  .modal-content2 {
    transition: all 0.75s;
    border-radius: 5px;
    background-color: rgb(25, 31, 50);
    position: relative;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 23%;
    width: 25%;
    /* Could be more or less, depending on screen size */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

@media screen and (max-width:300px) {
  .modal-content2 {
    transition: all 0.75s;
    border-radius: 5px;
    background-color: rgb(25, 31, 50);
    position: relative;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 30%;
    width: 25%;
    /* Could be more or less, depending on screen size */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10%;

}

select {
  width: 100%;
}

.add_member {
  position: relative;
  bottom: 2%;
  margin: 0%;
  margin-top: 10%;
  margin-bottom: 10%;
  background: #206ae1;

  transition: ease-out 0.5s;
  color: white;
  font-weight: 500;
  cursor: pointer;
  width: 90px;
  height: 50px;
  border: 1px solid #206ae1;
  left: 5%;
  border-radius: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/*end louay*/